html{
  margin: 0;
}

.title {
  color: rgb(25, 94, 124);
  text-align: center;
  font-family: Poppins;
  font-size: 4vw;
  font-weight: 900;
  line-height: 0.75;
  margin: 30px 0px 30px 0px;
}

.title span{
  font-size: 1.5vw;
  margin-top: 10px;
}

#logo_div{
  height: 100px;
  display: inline-block;
}

.title img{
  height: 100px;
}

.embedded_content{
  padding: 0 20px;
  text-align: justify;
}

.desc_title{
  font-size: 3vw;
  color: aliceblue;
  line-height: 3vw;
  font-family: "Phudu", cursive;
  font-weight: 400;
}

#sub_title{
  font-size: 0.8em;
}

.side_div{
  width: fit-content;
  margin-left: 20px;
  margin-bottom: 20px;
}

.side_div img{
  height: 300px;
}

#imgHolder{
  height: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.defintion_list{
  text-align: justify;
}

.content_sections{
  padding: 15px;
  margin: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.301);
  border: solid rgba(255, 255, 255, 0.103) 2px;
}


.contents{
  margin-bottom: 50px;
  text-align: justify;
  background-color: rgba(0, 0, 0, 0.342);
  padding: 20px 30px 20px 30px;
  border-radius: 10px;
  border: solid rgba(255, 255, 255, 0.199) 2px;
  
}

.titles{
  text-align: center;
  font-style: italic;
  font-family: "Phudu";
  font-weight: 400;
}

.Route_img_div{
  height: 70px;
  width: 70px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid rgba(255, 255, 255, 0.116) 2px;
  border-radius: 10px;
}

.route_div:hover{
  transform: scale(1.1);
}

.Route_img_div img{
  height: 70px;
}

#other_chars_title h3{
  font-family: 'Phudu', cursive;
  font-weight: 400;
  text-align: center;
}

#other_char_title{
  width: 100%;
}

.child{
  /* background-color: rgba(196, 26, 145, 0.445); */
  padding: 30px 40px;
  border-radius: 20px;
  border: solid rgba(255, 255, 255, 0.24) 2px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(5px);
}

.route_div{
  display: flex;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.301);
  margin: 20px 0px;
  padding: 15px;
  border: solid rgba(255, 255, 255, 0.116) 2px;
  border-radius: 10px;
  transition: 0.2s;
}

.route_name{
  vertical-align: middle;
  margin: auto 10px;
  text-align: justify;
}

.zanpakto{
  margin: 0px 10px 60px 10px;
}

.nobankai{
  display: none;
}

.SquadSection{
  display: none;
}

#IsCaptain, #IsLieutenant, #IsSubstituteShinigami, #IsFormerCaptain, #IsSquad0, #IsShinigami{
  display: block;
}


#char_root{
  /* text-align: justify; */
  color: aliceblue;
  display: inline-grid;
  grid-template-columns: auto auto;
  padding: 20px;
  line-height: 1.6;
  white-space: pre-wrap;
}


#BackToHome{
  position: fixed;
  font-family: "Phudu",cursive;
  font-size: 15px;
  font-weight: 400;
  font-style: italic;
  top: 50px;
  left: 50px;
  height: fit-content;
  width: fit-content;
  padding: 10px 20px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
  border: solid rgba(255, 255, 255, 0.123) 2px;
  transition: 0.2s;
}

#BackToHome:hover{
  transform: translateX(-20px);
}

#homeImgDiv{
  height: 25px;
  overflow: hidden;
  display: flex;
  align-content: center;
  justify-content: center;
  margin: auto;
}

#homeLink{
  display: inline-grid;
  grid-template-columns: auto auto;
  grid-gap: 5px;
}


#form_div{
  text-align: center;
  padding: 10px 35px;
  margin: 40px 35px;
  background-color: rgba(240, 248, 255, 0.308);
  border-radius: 20px;
  height: fit-content;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
  border: solid rgba(255, 255, 255, 0.123) 2px;
}

.chars{
  list-style: none;
  margin: 10px 10px 20px 10px; 
  display: flex;
  line-height: 1.5;
}

.img-holder {
  height:120px;
  width: 120px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid rgba(255, 255, 255, 0.432) 2px;
}

#content{
  margin: auto;
}

#root2{
  text-align: center;
}

ul{
  display: inline-grid;
  grid-template-columns: auto auto;
  width: max-content;
  padding: 0;
}

.chars{
  background-color: rgba(240, 248, 255, 0.308);
  padding: 20px;
  width: 550px;
  margin: 0px 30px 30px;
  border: solid rgba(255, 255, 255, 0.322) 2px;
  transition: 0.2s;
  text-align: left;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 20px;
}

.options{
  background-color: rgba(100, 144, 169, 0.849);
  margin: 10px;
  padding: 10px;
  color: azure;
  border-radius: 10px;
  display: inline-block;
  font-size: 0.83vw;
  transition: 0.2s;
  border: solid rgba(255, 255, 255, 0.281) 2px;
  
}

.options label{
  padding:10px
}

.options:hover{
  transform: translateX(-5px);
  background-color: rgba(214, 67, 56, 0.753);
  color: aliceblue;
}

.options input{
  display: none;
}

.links{
  color: inherit;
  text-decoration: inherit;
}

#title_div{
  background-image: linear-gradient(
    rgba(240, 248, 255, 0.384),
    rgba(240, 248, 255, 0.541)
  );
  width: 100%;
  padding: 5px 0px 1px 0px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11px);
  -webkit-backdrop-filter: blur(5px);
}


.chars:hover{
  transform: scale(1.1);
  background-color: rgba(124, 178, 209, 0.735);
  color: azure;
}

.chars img {
  height: 120px;
}

.desc {
  padding-left: 20px;
  font-weight: 200;
}
