.title {
  color: rgb(25, 94, 124);
  text-align: center;
  font-family: Poppins;
  font-size: 4vw;
  font-weight:900;
  line-height: 0.75;
  margin: 30px 0px 30px 0px;
}

.title span{
  font-size: 1.5vw;
  margin-top: 10px;
}

.title img{
  height: 100px;
}

.desc_title{
  color: aliceblue;
}

#logo_div{
  height: 100px;
  display: inline-block;
}

#form_div{
  text-align: center;
  padding: 10px 35px;
  margin: 40px 35px;
  border-radius: 20px;
  background-image: linear-gradient(
    rgba(242, 246, 255, 0.452), 
    rgba(221, 221, 221, 0.575)
  );
  height: fit-content;
}

.chars{
  list-style: none;
  margin: 10px 10px 20px 10px; 
  display: flex;
  line-height: 1.5;
}

.img-holder {
  height:120px;
  width: 120px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#content{
  margin: auto;
}

#root2{
  text-align: center;
}

ul{
  display: inline-grid;
  grid-template-columns: auto auto;
  width: max-content;
  padding: 0;
}

.chars{
  background-color: rgba(240, 248, 255, 0.753);
  padding: 20px;
  width: 550px;
  margin: 0px 30px 30px;
  border-radius: 20px;
  transition: 0.2s;
  text-align: left;
}

.options{
  background-color: rgba(100, 144, 169, 1);
  margin: 10px;
  padding: 10px;
  color: azure;
  border-radius: 10px;
  display: inline-block;
  font-size: 0.83vw;
  transition: 0.2s;
}

.options label{
  padding:10px
}

.options:hover{
  transform: translateX(-5px);
  background-color: rgba(214, 67, 56, 1);
  color: aliceblue;
}

.options input{
  display: none;
}

.links{
  color: inherit;
  text-decoration: inherit;
}

#title_div{
  background-image: linear-gradient(
    rgba(240, 248, 255, 0.452),
    rgba(240, 248, 255, 0.733)
  );
  padding: 5px 0px 1px 0px;
}


.chars:hover{
  transform: scale(1.1);
  background-color: rgba(124, 178, 209, 0.735);
  color: azure;
}

.chars img {
  height: 120px;
}

.desc {
  padding-left: 20px;
  font-weight: 200;
}