.title {
  color: rgba(26, 133, 154, 0.685);
  text-align: center;
  font-size: 4vw;
  line-height: 0.75;
}

.title span{
  font-size: 2vw;
}

#form_div{
  text-align: center;
  padding: 20px 35px;
  margin: 20px 35px;
  border-radius: 20px;
  background-color: aliceblue;
  height: fit-content;
  
}

.chars{
  list-style: none;
  margin: 10px 10px 20px 10px; 
  display: flex;
  line-height: 1.5;
}

.img-holder {
  height:120px;
  width: 120px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.options{
  margin: 10px;
  background-color:rgba(141, 202, 182, 0.308);
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
  z-index: 200;
  transition: 0.2s;
}

.options label{
  padding:10px
}

.options:hover{
  transform: translateX(-5px);
}

.options input{
  display: none;
}

#content{
  margin: auto;
}

#root2{
  text-align: center;
}

ul{
  display: inline-grid;
  grid-template-columns: auto auto;
  width: max-content;
  padding: 0;
}

.chars{
  background-color: aliceblue;
  padding: 20px;
  width: 550px;
  margin: 0px 30px 30px;
  border-radius: 20px;
  transition: 0.2s;
  text-align: left;
}

.chars:hover{
  transform: scale(1.1);
}

.chars img {
  height: 120px;
}

.desc {
  padding-left: 20px;
  font-weight: 200;
}