/* fonts 

font-family: 'Caveat', cursive;
font-family: 'Comfortaa', cursive;
font-family: 'Gajraj One', cursive;
font-family: 'Gothic A1', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Phudu', cursive;
font-family: 'Poppins', sans-serif; */

body{
  font-family: 'Montserrat', sans-serif;
  font-size: 1vw;
  background-color: rgba(136, 210, 185, 0.385);
}